@use './variables' as *;
@use './typography.scss' as *;

body {
    background-color: $background;
    font-family: $basefont;
}

.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}